 @font-face {
     font-family: Inter;
     src: url(https://fonts.googleapis.com/css?family=Intersansation_light.woff);
 }



 body {
     background-image: url(/images/construction_bg.png);
     background-size: cover;
     color: aliceblue;

 }

 .glass {
     height: 220px;
     /* min-width: 400px;
     max-width: 560px; */
     display: flexbox;
     align-self: center;
     justify-content: center;
     padding: 50px;
     /* From https://css.glass */
     background: rgba(94, 26, 93, 0.49);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(3.9px);
     -webkit-backdrop-filter: blur(3.9px);
     border: 1px solid rgba(94, 26, 93, 0.3);
     margin: 20px 0px;
 }

 .glass2 {
     background: rgba(0, 0, 0, 0.65);
     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
     backdrop-filter: blur(8px);
     -webkit-backdrop-filter: blur(8px);
     border-radius: 10px;
     border: 1px solid rgba(255, 255, 255, 0.18);
     padding: 8px;
 }

 .logo {
     margin: auto;
     display: flex;
 }

 h1 {
     text-align: center;

     font-family: 'Inter';
     font-style: normal;
     font-weight: 700;
     font-size: 48px;
     line-height: 58px;
 }

 p {
     font-stretch: expanded;
     font-size: 16px;
     text-align: center;
 }

 footer{
    color: black;
 }